@font-face {
	font-family: 'Kdam Thmor Pro'; 
	src: url("assets/fonts/kdamthmorproregular.TTF"); 
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: rgb(11, 156, 178);
}
html{
    scroll-behavior: smooth;
}
li{
    list-style-type: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: normal;
}
h1{
    text-align: left;
    font-weight: bold;
}
a:hover{
    color: rgb(239, 92, 6); 
 }
 img:hover{
    background: rgba(125, 127, 125, 0.2);
}

 a{
     text-decoration: none;
     color: rgb(32, 185, 8)
 }
 h2{
 display: inline;
 border-bottom: 3px solid #f9dd94
   }
 p{
    line-height: 35px;
  }
  h3{
    display:inline;
    line-height: 50px;
    border-bottom: 1px solid #f9dd94;
    }
.container{
    min-width: 1400px;
}
.header{
    background-image:url("assets/images/code.JPG");
}
.nav{
    text-align: center;
}
.nav-element{
    text-align: left;
    font-size: 30px;
}
.link{
    text-decoration: none;
    color: rgb(32, 185, 8);
}
.name{
    font-size: 80px;
    color: rgb(255, 255, 255);
}

.nav-punkts{
    display: inline;
    margin-right: 55px;
    justify-content: space-between;
    position: relative;
}
.main{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: normal;
    padding: 10px;
    margin: 10px;
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid rgb(32, 185, 8);
    box-shadow: 2px 1px 5px #99999999;
}
.my-name{
    color: rgb(32, 185, 8);
}
.coding-languages{
    color: rgb(32, 185, 8);
}
.skills-list{
    padding: 0;
    list-style: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.skills-list li:before{
    padding-right:11px;
    font-weight: bold;
    content: "\2705";
}
.language{
    color: rgb(32, 185, 8);
}
.code-example{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid rgb(32, 185, 8);
    border-width: 10px;
    width: 200px;
    background-color: aliceblue;
}
.func{
    color: rgba(9, 9, 46, 0.83);
}
.project-cv p:before{
    padding-right:11px;
    font-weight: bold;
    content: "\2705";
}
.cv-link{
    margin-left: 5px;
}
.education{
    padding: 0;
    list-style: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.education li:before{
    padding-right:11px;
    font-weight: bold;
    content: "\2705";
}
.footer{
   background-image: url("assets/images/program.JPG");
}
.copyright-info{
    color: aliceblue;
}
.git-link{
    text-align: center;
}
